.frontSpan {
    border-left: 6px solid #23ABDD;
    color: black;
    text-indent: 10px;
    font-size: 14px;
    line-height: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.mgr-item-title {
    margin-bottom: 20px;
}

.mgr-botmar-sm {
    margin-bottom: 10px;
}

.mgr-botmar-md {
    margin-bottom: 20px;
}

.mgr-botmar-lg {
    margin-bottom: 20px;
}

.mgr-spacer {
    margin-bottom: 30px;
    height: 100px;
}

.mgr-text-center {
    text-align: center;
}

.mgr-align-center {
    align: center;
}